@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.ItemsContainerCheckOut{
    font-family: "Proza Libre";
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (max-width: 1200px) {
        padding-top: 50px;
    }
   
}

.CheckOutPage{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding-top: 150px;
}

.TotalBillCheckout {
    color: black;
    font-size: 18px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.paymentBtn {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 600px;
    font-size: 30px;
    border-radius: 50px;
    background-color: rgb(255, 136, 0);
    @media screen and (max-width: 1200px) {
        height: 45px;
        margin-bottom: 50px;
        width: 80vw;
    }
}

.TrashIcon {
    @media screen and (max-width: 1200px) {
        padding-left: 120px;
    }
    
}

