

@media (max-width: 1000px) {

    .ImgContainer {
        top: 90px;

    }

    .LandingPageImg {
        width: 100vw;
        height: auto
    }
    .LandingPageImg2{
        width: 100vw;
        height: auto;
    }
}