@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.OrderNowContainer {
    margin-top: 45px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.OrderNowPic {
    width: 100%;
}

.OrderNowButtonContainer{
    position: absolute;
    top: 198vh;
    left: 14vw;
    cursor: pointer;
}

.OrderNowButton {
    width: 300px;
    height: 100px;
    background: url("./pics/background_order_now.jpg");
    background-size: 400px 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.ButtonInfo {
    font-family: "Bangers";
    color: #161010;
    font-size: 35px;
    text-shadow: 2px 2px #fff;
}

.OrderNowButtonContainer:hover {
    .ButtonInfo{
    font-size: 40px;
    text-shadow: 2px 2px #ec2020;
    }
}