@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.OrderNowContainer {
    margin-top: 45px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 701px) and (max-width: 900px)  {
        margin-top: 150px;
    }
}

.OrderNowPic {
    width: 100%;
}

.OrderNowButtonContainer{
    position: relative;
    top: -35vh;
    left: -25vw;
    cursor: pointer;

    @media screen and (max-width: 1000px){
        top: -10vh;
        left: 0;
    }
    @media screen and (max-width: 1300px) and (min-height: 790px) and (max-height: 810px){
        top: -29vh;
    }
}

.OrderNowButton {
    width: 300px;
    height: 100px;
    background: url("./pics/background_order_now.jpg");
    background-size: 400px 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 700px) {
        width:150px;
        height: 50px;
    }
}


.ButtonInfo {
    font-family: "Bangers";
    color: #161010;
    font-size: 35px;
    text-shadow: 2px 2px #fff;
    @media screen and (max-width: 700px) {
        font-size: 20px;
    }
}

.OrderNowButtonContainer:hover {
    .ButtonInfo{
    font-size: 40px;
    text-shadow: 2px 2px #ec2020;
        @media screen and (max-width: 700px) {
            font-size: 25px;
        }
    }
   
}