@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gochi+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.red {
    color: #fff;
}

.runningMario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.BulletBill {
    width: 100px;
    height: auto;
    padding-right: 20px;
}

.LocationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        padding-top: 0;
    }
    @media screen and (max-width: 900px) and (min-height: 1050px) and (max-height:1300px) {
        padding-top: 200px;
    }

    @media screen and (max-width: 1300px) and (min-height:790px) and (max-height: 810px) {
        padding-top: 0;
    }
}

.divider {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
    
}

.GoogleMap {
    height: 50vh;
    width: 100%;
    background-color: antiquewhite;
    margin-right:5vw ;
    margin-bottom: 10vh;

    @media screen and (max-width: 900px) {
        margin-top: 100px;
        width: 80%;
        align-self: center;
        display: flex;
        margin-left: 20px;
    }
}


.LocationInfo {
    width: 100%;
    color: white;
    align-items: center;
    text-align: center;
    font-family: "Bebas Neue";
    margin-top: -20vh;
    margin-left: -5vw;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        margin-top: 0;
        margin-left: 0vw;
    }
    
}

.ContactUs {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
}

.BuildingPic {
    z-index: -1;
    position: absolute;
    left: -13vw;

    @media screen and (max-width: 900px) {
        display: none;
    }

    @media screen and (min-width: 1200px) and (min-height: 790px) and (max-height: 810px){
        padding-top: 100px;
        width: 650px;
        height: auto;
    }
}


.LocationDivider {
    display: flex;
    flex-direction: row;
}

.contactPic {
    width: 100px;
}


.DescriptionsforContact {
    display: flex;
    flex-direction: column;
}


.DescriptionforContact {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    color: #fff;
    align-items: center;
    justify-content: left;
}

.DescriptionforContact:hover {
    color: bisque;
}

.GoogleMapLink, .facebookLink, .InstagramLink {
    text-decoration: none;
}

.AddressIcon {
    width: 67px;
    height: 50px;
    padding-right: 20px;
}

.AddressText, .facebookText, .InstagramText, .TelephoneText {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.Description2forContact {
    font-size: 1.5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.Description2forContact:hover {
    color: bisque;
}

.facebookIcon {
    width: 50px;
    padding-right: 10px;
}

.Description3forContact {
    font-size: 1.5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.Description3forContact:hover {
    color: bisque;
}

.InstagramIcon {
    width: 50px;
    padding-right: 10px;
}

.Description4forContact{
    font-size: 1.5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.Description4forContact:hover {
    color: bisque;
}

.TelephoneIcon {
    width: 76px;
    padding-left: 10px;
}

.TelephoneLink {
    text-decoration: none;
}

