@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gochi+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.offerContainer {
    width: 100vw;
    background-color: #000;
    margin-top: -13.45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;

    @media screen and (max-width: 800px) {
        margin-top: 10vh;
    }
}

.offerHead {
    display: flex;
    font-family: "Bebas Neue";
    font-size: 100px;
    color: #fff;
}

.offerFirstCol {
    display: flex;
    flex-direction: row;
    width: 100vw;
    list-style: none;
    justify-content: center;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        padding-right: 6vw ;
    }

    @media screen and (min-width: 801px) and (max-width: 1600px) {
        flex-direction: row;
        align-items: center;
        padding-right: 6vw ;
    }
}

.card {
    cursor: pointer;
    display: flex;
    margin: 4vh 4vw;
    width: 250px;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;


}

.offerCardImgWings {
    width: 322px;
    height: 255px;
    align-self: center;
}

.offerCardImg {
    width: 250px;
    height: 251px;
}

.offerCardImgDrinks {
    width: 164px;
    height: 250px;
    align-self:center;
    padding-right: 20px;
}

.offerCardImgGroup {
    width: 100px;
}

.offerCardTitle {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: "Bebas Neue";
    color: #fff;
}
.insideContainer {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }

    @media screen and (min-width: 801px) and (max-width: 1500px) {
        flex-direction: column;
    }
}

